{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block mytitle %}Подробнее{% endblock %}</title>
</head>
<body>
{% block content %}


<li>{{inventars.name}}</li>
<li><img src="{{ inventars.image.url }}" alt="Моя картинка" style="width: 100px; hieght: 100px;"></li>
<li>{{inventar.category}}</li>
<li>{{inventar.kod}}</li>
<li>{{inventar.price}}</li>>


    <li>{{employee.name1}}</li>
    <li>{{employee.name2}}</li>
    <li>{{employee.status}}</li>
{% endblock %}




</body>
</html>