<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% if list_url.number|add:'1' > list_url.paginator.num_pages and list_url.number|add:'-4' > 0 %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'-4'%}#images">{{list_url.number|add:'-4'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'2' > list_url.paginator.num_pages  and list_url.number|add:'-3' > 0 %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'-3'%}#images">{{list_url.number|add:'-3'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'-2' > 0 %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'-2'%}#images">{{list_url.number|add:'-2'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'-1' > 0 %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'-1'%}#images">{{list_url.number|add:'-1'}}</a></li>
            {% endif %}

            <li><a class='pagin_page'><span><strong>{{list_url.number}}</strong></span></a></li>

            {% if list_url.number|add:'1' <= list_url.paginator.num_pages %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'1'%}#images">{{list_url.number|add:'1'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'2' <= list_url.paginator.num_pages %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'2'%}#images">{{list_url.number|add:'2'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'-2' <= 0 and list_url.number|add:'3' <= list_url.paginator.num_pages %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'3'%}#images">{{list_url.number|add:'3'}}</a></li>
            {% endif %}
            {% if list_url.number|add:'-1' <= 0 and list_url.number|add:'4' <= list_url.paginator.num_pages %}
              <li><a class='pagin' href="{%url 'all_photos_page' ad_pk list_url.number|add:'4'%}#images">{{list_url.number|add:'4'}}</a></li>
            {% endif %}
</body>
</html>