{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/rrr.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Инвентарь</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="https://www.freeiconspng.com/uploads/warehouse-inventory-icon-10.png" style="width: 5%">
        <a class="navbar-brand" href="{% url 'main' %}">ღ Склад "Любимый"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
   <h3>{{user.username}}</h3>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <form class="d-flex" action="{% url 'search_results' %}" method="get">
                        <input name="q" class="form-control me-2" type="text" placeholder="Найти...">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-warning"><a class="nav-link text-white fw-bold"
                                                                             href="{% url 'inventar_forms' %}"> Добавить
                        позицию</a></button>
                </li>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Сортировка
                    </button>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning"><a class="nav-link text-dark fw-bold"
                                                                                     href="{% url 'inventar_AZ' %}">От А
                                до Я</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning"><a class="nav-link text-dark fw-bold"
                                                                                     href="{% url 'inventar_ZA' %}">От Я
                                до А</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning"><a class="nav-link text-dark fw-bold"
                                                                                     href="{% url 'inventar_price' %}">по
                                цене: от большего</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning"><a class="nav-link text-dark fw-bold"
                                                                                     href="{% url 'inventar_reprice' %}">по
                                цене: от меньшего</a></button>
                        </li>

                    </ul>
                </div>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-warning"><a class="nav-link text-white fw-bold"
                                                                             href="{% url 'inventar' %}">Инвентарь</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-warning"><a class="nav-link text-white fw-bold"
                                                                             href="{% url 'employee' %}">Наши
                        сотрудники</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-5">
    <div class="row">
        {% for inventar in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                {% if inventar.image %}
                <img src="{{ inventar.image.url }}" class="card-img-top" style="width: 481px; height: 300px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{inventar.name}}</h5>
                    <button type="button" class="btn btn-info"><a href="{% url 'detail' category.id %}">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <button type="button" class="btn btn-outline-dark"><a class="nav-link text-white fw-bold" href="?page=1">Первая страница</a></button>
<button type="button" class="btn btn-outline-warning"><a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></button>

        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <button type="button" class="btn btn-outline-warning"><a
                href="?page={{ page_obj.next_page_number }}">Следующая</a></button>

        <button type="button" class="btn btn-outline-dark"><a
                href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></button>
        {% endif %}
    </span>
</div>
<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>