<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 100%;
    height: 100%;
    position: flex;
    top: 100%;
    margin: -125px 0 0 -125px;

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
}
</style>
    <title>Профиль</title>
</head>
<body>
<div class="parent">
    <div class="block">
        <marquee truespeed="20" scrolldelay="130" loop="-1" direction="up" style="margin-left: 300px; text-align: center; ">
            <h1>ღ Склад "Любимый"</h1>
            <h4>- Великий прогресс нашего постижения разработки WEB приложений </h4>
            <p>Внес большой вклад в равитие наших навыков написания кодов на Python, Html и Css. Фреймворк Django -
                Сила!!</p>
            <br>
            <h2>Андрей</h2>
            <h4>- Наш наставник, учитель, помощник и просто лучший человек, который нас наставлял все это время.</h4>
            <p>Внес большой вклад в развитие наших умов и навыков написания кода. Заслуженно награжден кубком 'Лучший
                Наставник'</p>
            <br>
            <h2>Мельников Алексей</h2>
            <h4>- Амбасадор Html кодов и Css стилей на этом сайте.</h4>
            <p>Внес большой вклад в развитие адаптивности и красоты. Заслуженно награжден кубком 'повелителя Html и
                Css'</p>
            <br>
            <h2>Токтогулов Эмир</h2>
            <h4>- Разработчик кнопки "подробнее"(detail) и адаптивного переключения между вкладками сайта.</h4>
            <p>Внес вклад в развитие подробностей на сайте. Награджен кубком 'повелителя Detail' </p>
            <br>
            <h2>Борисов Данил</h2>
            <h4>- Разработчик сортировки, "пагинации", поисковой строки и многого другого на сайте.</h4>
            <p>Внес огромный вклад в развитие логики на сайте. На данный момент не награжден.</p>
            <br>
            <h3>Спасибо всем, кто учавствовал и помогал развиваться нашему сайту!</h3>
            <h1>Приятного пользования ღ</h1>
        </marquee>
    </div>
</div>
</body>
</html>